// Variables
$stats-white: #FCFCFC;
$stats-grey:   #706f6e;
$stats-orange: #ec6607;
$stats-blue: #004f9e;
$stats-purple: #6f2282;
$stats-cyan: #009bb4;
$stats-red: #e4003a;
$stats-yellow: #fbb900;
$stats-green: #51ae32;
$stats-grey: #706f6e;
$stats-logo-grey: #706F6F;
$stats-light-grey: #F2F2F2;
$stats-black: #000;
